/*
 *  Guess the number by olback
 *  olback.net
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto:300');

 * {
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }

 html, body {
     height: 100%;
     margin: 0;
     top: 0;
 }

 input {
     text-align: left;
 }

 main {
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
 }

 button {
     margin-top: 10px;
     padding: 10px 20px;
     border: none;
 }

 footer {
     position: relative;
     bottom: 40px;
     margin: 4px;
 }